/*{
  outline: 1px solid red;
} 

/* BODY CSS */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

  body, html {
    height: 100%;
}

  h1 {
    user-select: none;
  }
  a{
    text-decoration: none;
    color: unset;
  }
  
/* NAVIGATION BAR*/
  .topnav {
    overflow: hidden;
    background-color: rgb(175, 175, 175);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .topnav a:hover {
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: #3951A1;
    color: rgb(255, 255, 255);
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 650px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
/* YESAO LOGO STYLING*/

  .toplogo{
    max-width: 100%;
    height: auto;
  }

  .toplogo .yESAO {
    display: block;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
 }

/* HERO IMAGE */
.hero-image {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom:0px;
  margin-bottom:0px;
}

.hero-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
  display:block;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* QUOTE BOX FULL SCREEN WIDTH */

.quote{
  background-color:rgb(221, 221, 221);
  height: auto;
  display: flex;
  align-items: center;
  justify-content:  center;
  text-align: center;
  margin-bottom: 10px;
}

.quote p{
    font-size: 16px;
    color:black;
    margin-left: 50px;
    margin-right: 50px;
  }

/* NEW/EVENTS CONTAINERS */

.container {
  width: 80%; /* take up 80% of the page width */
  margin: 60px auto; /* center the container horizontally */
  background-color: #f2f2f2;
  position: relative;
  display:block;
}

  .container p{
    padding-left: 20px;
    padding-right: 20px;
    user-select: none;
  }

  .container h2{
    padding-left: 20px;
    user-select: none;
  }

  .container h3{
    padding-left: 20px;
    user-select: none;
  }


/* UPCOMING EVENTS: MAIN IMAGE */
.container img {
  width: 100%; /* set the image width to 100% of the container width */
  display: block; /* make the image a block element to remove extra spacing */
  margin-bottom: 0px; /* add some space between the image and the content below */
}

/* Media query for larger viewports */
@media (min-width: 650px) {
  .container img {
    object-fit: cover; /* crop the image to fill the container */
    height: 300px; /* set a fixed height for the cropped image */
    margin-bottom: 0; /* remove the margin-bottom to align the content */
  }
}

/* UPCOMING EVENTS: MAIN TEXT */
.container .EventsMain{
display: block;
border: 2px solid black;
transition: box-shadow 0.3s ease-in-out; /* adjust timing and easing to your liking */
}

/* UPCOMING EVENTS: OTHER */
.container .EventsOther{
  display: block;
  border: 2px solid black;
  margin-top: 20px;
  transition: box-shadow 0.3s ease-in-out; /* adjust timing and easing to your liking */
}



/* TEAM PROFILE PICTURE SLIDER */
.carousel {
  overflow: hidden;
  width: 80%;
  margin: 0 auto; /* center the container horizontally */
}

  .slider {
    display: flex;
    transition: transform 2s ease;
  }

  .slider img {
    flex: 1;
    padding: 20px;
    width: 180px;
    max-height: 180px;
  }



/*SPONSORS */
.sponsor{
  background-color:rgb(221, 221, 221);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content:center;
  text-align: center;
  margin-top: 10px;
}
  .sponsor img{
    height: 180px;
    width: auto;
  }

/* Footer styling */
footer {
  background-color: #3951A1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  /* Style for each column */
  .column {
    width: 30%;
    margin-bottom: 20px;
  }

  /* Style for the text lists */
  ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
  }

  li {
    padding: 5px 0;
  }

  /* Style for the links */
  footer a {
    text-decoration: none;
    color: white;
  }

  footer li{
    color: white;
  }

  .container .article{
    display: block;
    border: 2px solid black;
    margin-bottom: 20px;
    }

    footer p{
      font-style:italic;
    }

/* STYLING OF THE CONTACT FORM /*  

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
border: none;
padding: 7px 7px;
text-align: center;
text-decoration: none;
font-size: 16px;
background-color: #3951A1;
color: white;
cursor: pointer;
border-radius: 12px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #2d4080;
}

/*BUTTON STYLES */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f2f2f2;
}
/* BUTTON 1: ROUND CENTERED BLACK BUTTON */
.button1 {
  border-radius: 12px;
  border: none;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  opacity: 0.8;
  color: black;
}

.button1:hover{
background-color: #3951A1;
color: white;
}

 /* BUTTON2: BECOME A MEMBER TOP BUTTON STYLING */
 .button2{
  position: relative;
  bottom:10%;
  border-radius: 12px;
  border: black;
  text-align: center;
  font-size: 14px;
  background-color: black; 
  color: white;
  padding: 7px 7px;
  margin-left:5%;
  margin-bottom:10px;
  text-decoration: none;
 }

.button2:hover{
  background-color: #E1E000;
  color: black;
}

/* BUTTON 3: RIGHT OUTLINED */
.container .button3{
  margin: 10px 20px;
  border: none;
  position: absolute; 
  right: 0;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #3951A1;
  color: white;
  border-radius: 12px;
}

.button3:hover{
  background-color: #2d4080;
}


/* BUTTON 4 BLUE CENTERED BUTTON */
.button4{
    margin: 40px;
    border: none;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #3951A1;
    color: white;
    border-radius: 12px;
}

.button4:hover{
  background-color: #2d4080;
}

.button5{
    background-color: #3951A1;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}